body {
    margin: 0;
    font-family: 'prompt', sans-serif;
    color: white;
    background: #202731;
}
section {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 400px;
    padding: 100px 20vw;
}
.name {
    font-family: 'Space Mono', monospace;
    font-size: 40px;
    color: black;
}
.blue {
    background: #000CB5;
}
.red {
    background: #660000;
}
.green {
    background: #003300;
}
.dark {
    background: #000625;
}